.status-line .news {
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}

iframe {
    max-width: 100%;
}

ul, ol, p, body, h1, h2, h3, h4, h5, h6, figure {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}
body {
    color: #000000;
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:  700;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
.center-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

header {
    position: relative;
    z-index: 3;
    background: url("header-bg.jpg") repeat-x 0 0;
}
header .status-line {
    height: 25px;
    color: #92b1d5;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}
header .status-line .current-date {
    display: inline-block;
    margin-right: 30px;
}
header .status-line .current-courses {
    display: inline-block;
    margin-right: 30px;
}
header .status-line .current-courses .course.usd {
    margin-right: 7px;
}
header .status-line .current-courses .indicator {
    position: relative;
    bottom: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
}
header .status-line .current-courses .indicator.up {
    background: url("") no-repeat 50% 50%;
}
header .status-line .current-courses .indicator.down {
    background: url("") no-repeat 50% 50%;
}
header .status-line .hot-news {
    display: inline-block;
}
header .status-line .hot-news .title {
    line-height: 20px;
    border-bottom: 1px dotted;
}
header .status-line .hot-news .title:before {
    content: 'Новость часа: ';
}
header .status-line .hot-news .title:hover {
    border-bottom: none;
    color: #FFFFFF;
}
header .basic-line {
    height: 110px;
}
header .basic-line .line.first {
    padding-top: 20px;
}
header .basic-line .line .logotype {
    float: left;
    display: inline-block;
    width: 128px;
    height: 36px;
    margin-right: 15px;
    background: url("") no-repeat 50% 50%;
}
header .basic-line .line .logotype-nutmore {
    float: left;
    display: inline-block;
    width: 152px;
    height: 36px;
    margin-right: 15px;
    background: url("") no-repeat 50% 50%;
}
header .basic-line .line .logotype-rayzest {
    float: left;
    display: inline-block;
    width: 152px;
    height: 36px;
    margin-right: 15px;
    background: url("") no-repeat 50% 50%;
}
header .basic-line .line .socials {
    float: right;
}
header .basic-line .line .socials .net {
    display: inline-block;
    width: 19px;
    height: 30px;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
header .basic-line .line .socials .net:first-child {
    margin-left: 0;
}
header .basic-line .line .socials .net.fb {
    background-image: url("");
}
header .basic-line .line .socials .net.tw {
    background-image: url("");
}
header .basic-line .line .socials .net.gp {
    background-image: url("");
}
header #search-form {
    float: left;
    padding-top: 3px;
}
header #search-form input#search-input {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 195px;
    padding-left: 7px;
    color: #92b1d5;
    font-size: 14px;
    font-style: italic;
}
header #search-form button#search-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 23px;
    border: none;
    background: #bfd1e7;
}
header #search-form button:after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 8px solid #bfd1e7;
    border-right: none;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
header .basic-line .line.second {
    padding-top: 15px;
}
header .basic-line .line .menu {
    float: left;
    color: #FFFFFF;
}
header .basic-line .line .menu a {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 15px;
}
header .basic-line .line .menu a.active,
header .basic-line .line .menu a:hover {
    border-bottom: 3px solid #92b0d5;
}
header .basic-line .line .menu a:last-child {
    margin-right: 0;
}
header .basic-line .line .links {
    float: right;
    color: #abc7e8;
}
header .basic-line .line .links a {
    text-transform: uppercase;
    margin-right: 15px;
}
header .basic-line .line .links a:hover {
    color: #FFFFFF;
}
header .basic-line .line .links a:last-child {
    margin-right: 0;
}
.top-line {
    position: relative;
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdee4;
    -webkit-box-shadow: 0 0 12px #d4d4d4;
    -moz-box-shadow: 0 0 12px #d4d4d4;
    box-shadow: 0 0 12px #d4d4d4;
}
.top-line .headline {
    margin-bottom: 10px;
    color: #8f8f8f;
    text-transform: uppercase;
}
.top-line .news-block {
    font-size: 0;
}
.top-line .news-block .preview {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 2%;
    height: 100px;
    background: #f1f4f9;
}
.top-line .news-block .preview:hover {
    background: #FFFFFF;
}
.top-line .news-block .preview:last-child {
    margin-right: 0;
}
.top-line .news-block .preview .image {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 7px;
}
.top-line .news-block .preview .image img {
    width: 100%;
}
.top-line .news-block .preview .title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 76px;
    overflow: hidden;
    margin: 7px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.top-line .news-block .preview:hover .title {
    color: #2765AF;
}
.high-priority-news {
    background-color: #ffffff;
    border-bottom: 1px solid #dbdee4;
}
.high-priority-news .column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.high-priority-news .column .headline {
    height: 53px;
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: 18px;
    font-weight: 700;
    line-height: 53px;
}
.high-priority-news .column.latest {
    width: 488px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.small .high-priority-news .column.latest {
    min-height: 625px;
    padding-right: 10px;
    padding-left: 10px;
    background: #f7efca;
}
.high-priority-news .column .big-preview {
    display: block;
    margin-bottom: 10px;
}
.high-priority-news .column .big-preview.wo-headline {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.small .high-priority-news .column .big-preview.wo-headline {
    padding-bottom: 0;
}
.high-priority-news .column .big-preview .image {
    position: relative;
    padding-bottom: 15px;
    font-size: 0;
}
.high-priority-news .column .big-preview .image img {
    width: 100%;
    height: 263px;
}
.high-priority-news .column .big-preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 16px;
    color: #FFFFFF;
}
.high-priority-news .column .big-preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
}

.high-priority-news .column .big-preview .image .added-info .category {
    background: rgba(4, 66, 128, 0.8);
}
.high-priority-news .column .big-preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.high-priority-news .column .big-preview .title {
    padding-bottom: 15px;
    /*color: #314154;*/
    color: #2765af;
    font-size: 27px;
    font-weight: 700;
    line-height: 28px;
}
.small .high-priority-news .column .big-preview .title {
    color: #000000;
}
.small .high-priority-news .column .big-preview:hover .title {
    text-decoration: underline;
}
.small .high-priority-news .column .big-preview .image:hover ~ .title {
    text-decoration: none;
}
.index .high-priority-news .column .big-preview .title {
    color: #000000;
}
.index .high-priority-news .column .big-preview:hover .title {
    color: #2765af;
}
.high-priority-news .column .big-preview .text {
    overflow: hidden;
    text-decoration: none;
}
.small .high-priority-news .column .big-preview .text {
    text-decoration: none;
}
.small .high-priority-news .column .big-preview:hover .text {
    text-decoration: none;
}
.high-priority-news .column .read-full {
    display: inline-block;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #2965AE;
    color: #FFFFFF;
    line-height: 30px;
}
.small .high-priority-news .column .read-full {
    margin-top: 10px;
    background: #d66000;
}
.small .high-priority-news .column .big-preview .image:hover ~ .read-full {
    background: #d66000;
}
.small .high-priority-news .column .big-preview:hover .read-full {
    background: #8B3F00;
}
.small .high-priority-news .column .read-full:hover {
    background: #8B3F00;
}
.high-priority-news .column .big-preview:hover + .read-full {
    background: #163865;
}
.high-priority-news .column .read-full:hover {
    background: #163865;
}
.high-priority-news .column .read-full:after {
    position: relative;
    top: 1px;
    left: 4px;
    /*content: '\279C';*/
    content: '\27A4';
    /*font-size: 12px;*/
}
.high-priority-news .column .big-preview:hover .text,
.index .high-priority-news .column .big-preview:hover .text {
    text-decoration: underline;
}
.high-priority-news .column .more-news {
    padding: 8px;
    background-color: #f8f6e6;
}
.high-priority-news .column .more-news .caption {
    font-size: 16px;
    font-weight: 700;
    color: #314154;
}
.high-priority-news .column .more-news .news-list {
    padding-left: 10px;
}
.high-priority-news .column .more-news .news-list li {
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.high-priority-news .column .more-news .news-list li:before {
    content: '> ';
}
.high-priority-news .column .more-news .news-list li a:hover {
    text-decoration: underline;
}
.high-priority-news .column.important {
    width: 224px;
    /*height: 1000px;*/
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f2f5f9;
}
.small .high-priority-news .column.important {
    background: #FFFFFF;
}
.high-priority-news .column.important .headline {
    color: #595f68;
}
.high-priority-news .column.important .preview {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.high-priority-news .column.important .preview .image {
    width: 100%;
    position: relative;
    padding-bottom: 7px;
    font-size: 0;
}
.high-priority-news .column.important .preview .image img {
    width: 100%;
}
.high-priority-news .column.important .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 7px;
    height: 16px;
    color: #FFFFFF;
}
.high-priority-news .column.important .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.high-priority-news .column.important .preview .image .added-info .category {
    background: rgba(4, 66, 128, 0.8);
}
.high-priority-news .column.important .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.high-priority-news .column.important .preview .image .exclusive-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 26px;
    background: transparent url("") no-repeat 50% 50%;
}
.high-priority-news .column .preview .title {
    max-height: 103px;
}
.high-priority-news .column .preview:hover .title {
    color: #2765AF;
}
.high-priority-news .column.popular {
    width: 488px;
    padding-left: 20px;
}
.high-priority-news .column.popular .preview {
    min-height: 100px;
    display: block;
    padding-bottom: 0;
    margin-bottom: 10px;
    font-size: 0;
}
.high-priority-news .column.popular .preview > * {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}
.high-priority-news .column.popular .preview .image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.high-priority-news .column.popular .preview .image img {
    width: 100%;
}
.high-priority-news .column.popular .preview:hover {
    background-color: #F2F5F9;
}
.high-priority-news .column.popular .preview .title {
    /*width: 358px;*/
    font-size: 16px;
    display: inline-block !important;
    vertical-align: top !important;
    max-height: 1000px !important;
    width: 70% !important;
}
.high-priority-news .column.popular .preview:hover .title {
    color: #2765AF;
}
.category-preview {
    border-bottom: 1px solid #dbdee4;
}
.category-preview.standard .headline {
    height: 53px;
    color: #535558;
    font-size: 18px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
}
.category-preview.standard .top-sector {
    padding-bottom: 10px;
}
.category-preview.standard .top-sector .preview {
    float: left;
    width: 390px;
    padding-bottom: 5px;
    margin-right: 15px;
}
.category-preview.standard .top-sector .preview:hover .title {
    color: #2765AF;
}
.category-preview.standard .top-sector .preview:hover .text {
    text-decoration: underline;
}
.category-preview.standard .top-sector .preview:last-child {
    margin-right: 0;
}
.category-preview.standard .top-sector .preview .image {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    font-size: 0;
}
.category-preview.standard .top-sector .preview .image img {
    width: 100%;
}
.category-preview.standard .top-sector .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 15px;
    color: #FFFFFF;
}
.category-preview.standard .top-sector .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.category-preview.standard .top-sector .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.category-preview.standard .top-sector .preview .image .exclusive-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 107px;
    height: 26px;
    background: transparent url("") no-repeat 50% 50%;
}
.category-preview.standard .top-sector .preview .title {
    padding-bottom: 15px;
    color: #314154;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.category-preview.standard .middle-sector {
    margin-bottom: 20px;
}
.category-preview.standard .middle-sector .column {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 390px;
    margin-right: 15px;
    background: #FFFFFF;
}
.category-preview.standard .middle-sector .column:last-child {
    margin-right: 0;
}
.category-preview.standard .middle-sector .preview {
    display: block;
    min-height: 100px;
    margin-bottom: 10px;
    font-size: 0;
}
.category-preview.standard .middle-sector .preview:hover {
    background: #F2F5F9;
}
.category-preview.standard .middle-sector .preview:last-child {
    margin-bottom: 0;
}
.category-preview.standard .middle-sector .preview > * {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}
.category-preview.standard .middle-sector .preview .image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.category-preview.standard .middle-sector .preview .image img {
    width: 100%;
}
.category-preview.standard .middle-sector .preview .title {
    /*width: 260px;*/
    font-size: 16px;
}
.category-preview.standard .middle-sector .preview:hover .title {
    color: #2765AF;
}
.category-preview.standard .bottom-sector {
    margin-bottom: 20px;
}
.category-preview.standard .bottom-sector .preview {
    float: left;
    width: 224px;
    margin-right: 20px;
    background: #FFFFFF;
}
.category-preview.standard .bottom-sector .preview:hover {
    color: #2765AF;
    background-color: #F2F5F9;
}
.category-preview.standard .bottom-sector .preview:last-child {
    margin-right: 0;
}
.category-preview.standard .bottom-sector .preview .image {
    position: relative;
    width: 100%;
    font-size: 0;
}
.category-preview.standard .bottom-sector .preview .image img {
    width: 100%;
}
.category-preview.standard .bottom-sector .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFFFFF;
}
.category-preview.standard .bottom-sector .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.category-preview.standard .bottom-sector .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.category-preview.standard .bottom-sector .preview .title {
    height: 103px;
    padding: 6px 10px;
    overflow: hidden;
}
.category-preview.alternative {
    font-size: 0;
}
.category-preview.alternative .headline {
    height: 53px;
    color: #535558;
    font-size: 18px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
}
.category-preview.alternative .start-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 468px;
    padding: 10px;
    margin-right: 20px;
    background: #FFFFFF;
}
.category-preview.alternative .start-block .preview {
    display: block;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}
.category-preview.alternative .start-block .preview:hover {
    background-color: #F2F5F9;
}
.category-preview.alternative .start-block .preview:last-child {
    margin-bottom: 0;
}
.category-preview.alternative .start-block .preview .image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.category-preview.alternative .start-block .preview .image img {
    width: 100%;
}
.category-preview.alternative .start-block .preview .title {
    font-size: 16px;
}
.category-preview.alternative .start-block .preview:hover .title {
    color: #2765AF;
}
.category-preview.alternative .other-news {
    margin-bottom: 15px;
    margin-right: 20px;
}
.category-preview.alternative .other-news.preview {
    display: inline-block;
    vertical-align: top;
    width: 224px;
    height: 340px;
    background: #FFFFFF;
    overflow: hidden;
}
.category-preview.alternative .other-news.preview:hover {
    background: #F2F5F9;
}
.category-preview.alternative .other-news:nth-child(5n+4) {
    margin-right: 0;
}
.category-preview.alternative .other-news.preview .image {
    width: 100%;
}
.category-preview.alternative .other-news.preview .image img {
    width: 100%;
}
.category-preview.alternative .other-news.preview .title {
    max-height: 116px;
    overflow: hidden;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 21px;
}
.category-preview.alternative .other-news.preview:hover .title {
    color: #2765AF;
}
.inner-category .high-priority-news .headline {
    height: 53px;
    color: #535558;
    font-size: 18px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
}
.inner-category .high-priority-news .headline:after {
    content: ' / ТОП';
}
.high-priority-news .top-block .preview {
    float: left;
    width: 390px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.high-priority-news .top-block .preview:last-child {
    margin-right: 0;
}
.high-priority-news .top-block .preview .image {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    font-size: 0;
}
.high-priority-news .top-block .preview .image img {
    width: 100%;
}
.category-preview.standard .top-sector .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 15px;
    color: #FFF;
}
.category-preview.standard .top-sector .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.category-preview.standard .top-sector .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.high-priority-news .top-block .preview .title {
    padding-bottom: 15px;
    color: #314154;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
.high-priority-news .top-block .preview:hover .title {
    color: #2765AF;
}
.high-priority-news .top-block .preview:hover .text {
    text-decoration: underline;
}
.category-inside .left {
    float: left;
    width: 712px;
    margin-right: 20px;
}
.category-inside .left .headline-panel .headline {
    float: left;
    height: 53px;
    color: #8f8f8f;
    font-size: 18px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
}
.category-inside .left .headline-panel .sort-by {
    float: right;
}
.category-inside .left .headline-panel .sort-by a {
    color: #2765af;
    text-decoration: underline;
}
.category-inside .left .headline-panel .sort-by a:hover {
    text-decoration: none;
}
.category-inside .left .headline-panel .sort-by:before {
    content: 'Сортировать по: ';
    height: 53px;
    line-height: 53px;
}
.category-inside .left .top-sector .preview {
    float: left;
    width: 224px;
    background: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 20px;
}
.category-inside .left .top-sector .preview:hover {
    background: #F2F5F9;
}
.category-inside .left .top-sector .preview:nth-child(3n) {
    margin-right: 0;
}
.category-inside .left .top-sector .preview .image {
    position: relative;
    width: 100%;
    font-size: 0;
}
.category-inside .left .top-sector .preview .image img {
    width: 100%;
}
.category-inside .left .top-sector .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFF;
}
.category-inside .left .top-sector .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.category-inside .left .top-sector .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.category-inside .left .top-sector .preview .title {
    height: 103px;
    padding: 6px 10px;
    overflow: hidden;
}
.category-inside .left .top-sector .preview:hover .title {
    color: #2765AF;
}
.category-inside .left .bottom-sector .preview {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    min-height: 130px;
    padding: 10px;
    background: #FFFFFF;
    border-bottom: 1px solid #f2f2f2;
}
.category-inside .left .bottom-sector .preview:hover {
    background: #F2F5F9;
}
.category-inside .left .bottom-sector .preview .image {
    float: left;
    position: relative;
    width: 194px;
    margin-right: 20px;
    font-size: 0;
}
.category-inside .left .bottom-sector .preview .image img {
    width: 100%;
}
.category-inside .left .bottom-sector .preview .image .added-info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFFFFF;
}
.category-inside .left .bottom-sector .preview .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.category-inside .left .bottom-sector .preview .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.category-inside .left .bottom-sector .preview .title {
    color: #314154;
    font-size: 18px;
    font-weight: 700;
}
.category-inside .left .bottom-sector .preview:hover .title {
    color: #2765AF;
}
.category-inside .left .bottom-sector .preview .text {
    max-height: 60px;
    overflow: hidden;
}
.category-inside .right {
    float: right;
    width: 468px;
}
.category-inside .right .headline {
    height: 53px;
    color: #8F8F8F;
    font-size: 18px;
    line-height: 53px;
    font-weight: 700;
    text-transform: uppercase;
}
.category-inside .right .top-sector {
    border-bottom: 1px solid #dbdee4;
}
.category-inside .right .top-sector .preview {
    display: block;
    min-height: 100px;
    margin-bottom: 10px;
}
.category-inside .right .top-sector .preview:hover {
    background: #FFFFFF;
}
.category-inside .right .top-sector .preview .image {
    float: left;
    width: 100px;
    margin-right: 10px;
}
.category-inside .right .top-sector .preview .image img {
    width: 100%;
}
.category-inside .right .top-sector .preview:hover .title {
    color: #2765AF;
}
.category-inside .right .bottom-sector {
    margin-top: 10px;
    font-size: 0;
}
.category-inside .right .bottom-sector .preview {
    display: inline-block;
    vertical-align: top;
    width: 224px;
    height: 340px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
}
.category-inside .right .bottom-sector .preview:hover {
    background: #F2F5F9;
}
.category-inside .right .bottom-sector .preview:nth-child(2n) {
    margin-right: 0;
}
.category-inside .right .bottom-sector .preview .image {
    width: 100%;
}
.category-inside .right .bottom-sector .preview .image img {
    width: 100%;
}
.category-inside .right .bottom-sector .preview .title {
    max-height: 116px;
    overflow: hidden;
    padding: 6px 10px;
    font-size: 16px;
}
.category-inside .right .bottom-sector .preview:hover .title {
    color: #2765AF;
}
.category-inside .paginator {
    font-size: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}
.category-inside .paginator > * {
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 34px;
}
.category-inside .paginator .close-pages li {
    display: inline-block;
    vertical-align: baseline;
    line-height: 34px;
    margin-right: 3px;
    margin-left: 3px;
}
.category-inside .paginator .close-pages li.current {
    color: #a2a2a2;
    cursor: default;
}
.category-inside .paginator .close-pages li.dots {
    margin-right: 2px;
    margin-left: 2px;
    cursor: default;
}
.category-inside .paginator .close-pages li:hover {
    color: #2765AF;
    text-decoration: underline;
}
.category-inside .paginator .close-pages li.current:hover,
.category-inside .paginator .close-pages li.dots:hover {
    text-decoration: none;
}
.category-inside .paginator .close-pages li.dots:hover {
    color: #000000;
}
.category-inside .paginator .close-pages li.current:hover {
    color: #a2a2a2;
}

.category-inside .paginator .previous,
.category-inside .paginator .next {
    width: 34px;
    height: 34px;
    background: #2765af;
    color: #FFFFFF;
    text-align: center;
}
.category-inside .paginator .previous {
    margin-right: 12px;
}
.category-inside .paginator .next {
    margin-left: 12px;
}
.category-inside .paginator .last {
    margin-left: 5px;
}
.category-inside .paginator .last:hover {
    color: #2765AF;
    text-decoration: underline;
}

.article {
    padding-bottom: 15px;
}
.article.wo-headline {
    margin-top: 20px;
}
.article .image {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0;
}
.article .image img {
    width: 100%;
    height: 263px;
}
.article .image .added-info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #FFFFFF;
}
.article .image .added-info > * {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    line-height: 16px;
}
.article .image .added-info .category {
    background: rgba(4, 66, 128, 0.8);
}
.article .image .added-info .date {
    background: rgba(0, 0, 0, 0.5);
}
.article .title {
    margin-bottom: 15px;
    color: #314154;
    font-size: 27px;
    line-height: 28px;
    font-weight: 700;
}
.article .text {
    padding-bottom: 40px;
}
.article .text a {
    color: #2965AE;
    text-decoration: underline;
}
.article .text a:hover {
    color: #163865;
    text-decoration: none;
}
.article .text p {
    padding-bottom: 12px;
}
.article .text p:last-child {
    padding-bottom: 0;
}
.article .read-more {
    display: block;
    width: 200px;
    margin: 0 auto 45px;
    height: 30px;
    background: #ececec;
    color: #314154;
    line-height: 30px;
    text-align: center;
}
.article .read-more:hover {
    color: #FFFFFF;
    background: #2765AF;
}
.article .topic-panel .socials {
    float: left;
}
.article .topic-panel .views {
    float: right;
    color: #9b9b9b;
    cursor: default;
}
.high-priority-news .column.need-to-know {
    width: 224px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F5F9;
}
.small .high-priority-news .column.need-to-know {
    min-height: 625px;
}
.high-priority-news .column.need-to-know .preview {
    display: block;
    margin-bottom: 15px;
}
.small .high-priority-news .column.need-to-know .preview {
    margin-bottom: 12px;
}
.high-priority-news .column.need-to-know .preview .image {
    font-size: 0;
}
.high-priority-news .column.need-to-know .preview .image img {
    width: 100%;
}
footer {
    background: #153865;
}
footer .line.first {
    padding-top: 20px;
}
footer .line .logotype {
    float: left;
    display: inline-block;
    width: 128px;
    height: 36px;
    background: transparent url("") no-repeat scroll 50% 50%;
}
footer .line .logotype-nutmore {
    float: left;
    display: inline-block;
    width: 152px;
    height: 36px;
    background: transparent url("") no-repeat scroll 50% 50%;
}
footer .line .logotype-rayzest {
    float: left;
    display: inline-block;
    width: 152px;
    height: 36px;
    background: transparent url("") no-repeat scroll 50% 50%;
}
footer .line .socials {
    float: right;
}
footer .line .socials .net {
    display: inline-block;
    width: 19px;
    height: 30px;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
footer .line .socials .net:first-child {
    margin-left: 0;
}
footer .line .socials .net.fb {
    background-image: url("");
}
footer .line .socials .net.tw {
    background-image: url("");
}
footer .line .socials .net.gp {
    background-image: url("");
}
footer .line.second {
    padding-top: 7px;
    padding-bottom: 20px;
    color: #a4b8d7;
}
footer .line.second > * {
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
}
footer .line.second .copyright {
    float: left;
    font-size: 14px;
}
footer .line.second .links {
    float: right;
    line-height: 40px;
}
footer .line.second .links a {
    text-transform: uppercase;
    margin-right: 15px;
}
footer .line.second .links a:hover {
    color: #FFFFFF;
}
footer .line.second .links a:last-child {
    margin-right: 0;
}
.time {
    float: left;
    width: 140px;
    padding-top: 6px;
}
.clear{clear: both;}
.news {
    width: 790px;
    float: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #a2b8e8;
    font-size: 14px;
    padding-top: 5px;
    margin-left: 78px;
}
header .status-line {
    height: 35px;
    color: #92b1d5;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}
.text {
    padding-bottom: 40px;
    padding-top: 15px;
}
.soc {
    float: right;
    width: 140px;
    margin-top: 6px;
    margin-right: 49px;
}

.ul-time {
    padding: 0;
    margin: 0;
    color: #a2b8e8;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.ul-time li {
    display: inline-block;
    line-height: 10px;
}

.ul-time li:nth-child(2) {
    padding: 0 8px;
    border-left: 1px solid #a2b8e8;
}

.li-timer {
    font-weight: 700;
    color: #fff;
}

li.li-timer {
    background: url("clock.png")no-repeat left center;
    padding-left: 22px;
    padding-right: 8px;
}

.bold-span {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: none;
}

.news-p {
    text-transform: none;
}

.news-p a {
    text-decoration: underline!important;
}

.inherit:visited,
.inherit:link {
    color: inherit;
    text-decoration: none;
}

.ul-soc {
    padding: 0;
    margin: 0;
}

.ul-soc li {
    float: left;
}

.ul-soc li a {
    display: block;
    height: 100%;
    width: 100%;
}

.ul-soc li:nth-child(1) {
    background: url("facebook.png")no-repeat center;
    width: 6px;
    height: 13px;
    margin-top: 4px;
}

.ul-soc li:nth-child(2) {
    background: url("vk.png")no-repeat center;
    width: 16px;
    height: 9px;
    margin-left: 28px;
    margin-top: 7px;
}

.ul-soc li:nth-child(3) {
    background: url("twiter.png")no-repeat center;
    width: 13px;
    height: 11px;
    margin-left: 27px;
    margin-top: 6px;
}

.ul-soc li:nth-child(4) {
    background: url("od.png")no-repeat center;
    width: 8px;
    height: 14px;
    margin-top: 5px;
    margin-left: 27px;
}

.logo-header {
    float: left;
    width: 192px;
}

.menu-bar {
    float: left;
    width: 700px;
}

ul.ul-nav-bar li {
    display: inline-block;
    font-weight: 700;
    font-size: 14.76px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    margin-left: 24px;
}

.search-input:-moz-placeholder {
    /*text-align: right;*/
    color: #fff;
}

.search-input::-webkit-input-placeholder {
    /*text-align: left;*/
    color: #fff;
}

.search-input:-ms-input-placeholder {
    /*text-align: right;*/
    color: #fff;
}

input.search-input {
    background: #5182c1;
    border: none;
    outline: none;
    text-align: right;
    font-size: 14px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    /* padding-right: 11px; */
    /* width: 198px; */
    /* margin-right: 28px; */
    padding: 5px 0;
    padding-right: 34px;
    padding-left: 13px;
    position: relative;
}

header .basic-line {
    height: auto;
}

.basic-line {
    padding-top: 24px;
    padding-bottom: 19px;
}

.menu-bar {
    float: left;
    width: 700px;
    margin-left: 26px;
    margin-top: 2px;
}

/*ul.ul-nav-bar li:nth-child(2) {*/
/*margin-left: 35px;*/
/*}*/

/*ul.ul-nav-bar li:nth-child(3) {*/
/*margin-left: 38px;*/
/*}*/

/*ul.ul-nav-bar li:nth-child(4) {*/
/*margin-left: 29px;*/
/*}*/

/*ul.ul-nav-bar li:nth-child(5) {*/
/*margin-left: 37px;*/
/*}*/

/*ul.ul-nav-bar li:nth-child(6) {*/
/*margin-left: 38px;*/
/*}*/

.search-bar {
    float: right;
    width: 210px;
    margin-right: 54px;
}

.search-form {
    position: relative;
}

.search-button {
    background: url("search-ico.png")no-repeat center;
    width: 14px;
    height: 14px;
    position: absolute;
    border: none;
    outline: none;
    right: 20px;
    top: 7px;
}


/*FOOTER*/

.left-part-footer {
    width: 300px;
    float: left;
}

.right-part-footer {
    float: right;
    width: 140px;
    margin-top: 2px;
    margin-right: 49px;
}

.footer-txt {
    color: #a2b8e8;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
}

.ul-soc-footer {
    padding: 0;
    margin: 0;
}

.ul-soc-footer li:nth-child(1) {
    background: url("facebook.png")no-repeat center;
    width: 6px;
    height: 13px;
    margin-top: 4px;
}

.ul-soc-footer li:nth-child(2) {
    background: url("vk.png")no-repeat center;
    width: 16px;
    height: 9px;
    margin-left: 28px;
    margin-top: 7px;
}

.ul-soc-footer li:nth-child(3) {
    background: url("twiter.png")no-repeat center;
    width: 13px;
    height: 11px;
    margin-left: 27px;
    margin-top: 6px;
}

.ul-soc-footer li:nth-child(4) {
    background: url("od.png")no-repeat center;
    width: 8px;
    height: 14px;
    margin-top: 5px;
    margin-left: 27px;
}

.ul-soc-footer li {
    float: left;
}

.ul-soc-footer li a {
    display: block;
    height: 100%;
    width: 100%;
}

footer {
    background: #143767;
    padding-top: 26px;
    padding-bottom: 12px;
}

img.footer-logo {
    margin-bottom: 6px;
    /* line-height: 18px; */
}


/*BUG IMG Width*/

.text img {
    width: 468px!important;
}

.h1-inherit {
    color: inherit;
    font-size: inherit;
}

.link-new-page-button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #f44336;
    border-radius: 3px;
    padding: 13px 0;
    display: block;
}

.article .text {
    padding-bottom: 40px;
    padding-top: 15px;
}

a.news-next {
    display: block;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    background: #fff7c5;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 10px 15px;
    margin: 15px 0;
}
a.news-next:visited,
a.news-next:link,
a.news-next:hover {
    text-decoration: underline!important;
    color: inherit!important;
}
.wid {
    margin: 20px  0 0 0 ;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}
.link-new-page-button-2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background: #f44336;
    border-radius: 3px;
    padding: 13px 0;
    display: block;
    margin: 20px 0 5px 0;
}
.bl {
    display: block;
}
br {
    color: #fff !important;
}
iframe.note-video-clip {
    width: 468px!important;
}
.very-important {
    color: #a2b8e8;
    font-family: "PT Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.breadcrumbs span {
    padding-right: 5px;
}
.share42init {
    float:left;
}

.above-teasers {
    width: 100%;
    background-color: #ff7404;
    padding-top: 5px;
    font-family: Play,sans-serif;
    font-size: 32px;
    text-align: center;
    color: white;
}

.teaser {
    width: 230px;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    position: relative;
    display: block;
    position: relative;
    box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.75);
}



.teaser-image-div {
    width: 100%;
}

.teaser-image {
    width: 100%;
}

.teaser-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
    font-family: Play, sans-serif;
}
.teaser-title-div {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 5px;
    font-family: Play, sans-serif;
}

.teaser-field {
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    height: 100%;
    width: 100%;
}


/*sergey*/

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}

.first{
    background: #153767;
}
.second{
    background: #2563b0;
}
header{
    background: none;
}
.menu__btn-container{
    display: none;
    position: absolute;
    right: 0;
    top: 43px;
    height: 20px;
}
.menu__btn{
    /*display: none;*/
    height: 3px;
    width: 40px;
    position: relative;
    background: #fff;
}
.menu__btn:before, .menu__btn:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}
.menu__btn:before{
    top: 7px;
}
.menu__btn:after{
    top: 14px;
}
.other__news{
    float: right;
    width: 60%;
}
.category-preview.alternative .other-news{
    margin-right: 0;
}
.category-preview.alternative .other-news.preview:nth-child(2){
    margin: 0 2%;
}
.picture__large{
    display: none;
}
p.site-bar-news-title{
    text-align: left !important;
}
@media screen and (max-width: 1199px) {
    .other__news{
        width: 63%;
    }
    .high-priority-news .column.popular .preview .title{
        width: 60% !important;
    }
    .category-preview.alternative .other-news.preview{
        margin-left: 0;
        margin-right: 0;
        width: 32%;
    }
    .center-wrapper{
        width: 980px;
    }
    .news{
        margin-left: 0;
        float: left;
        text-align: right;
        width: 600px;
    }
    ul.ul-nav-bar li{
        margin-left: 13px;
    }
    ul.ul-nav-bar li:nth-child(1){
        margin-left: 0;
    }
    .soc{
        /*float: none;*/
        /*position: absolute;*/
        float: right;
        margin-right: 0;
    }
    .menu-bar{
        width: auto;
        margin-left: 5px;
    }
    .search-bar{
        width: 165px;
        margin-right: 0;
    }
    input.search-input{
        width: 135px;
        padding: 5px 15px;
        text-align: left;
    }
    .search-button{
        right: 10px;
        top: 5px;
        width: 20px;
        height: 20px;
    }
    .high-priority-news .column.latest{
        width: 450px;
    }
    .high-priority-news .column.popular{
        width: 305px;
    }
    .category-preview.alternative .start-block{
        width: 350px;
    }
    .category-preview.alternative .other-news{
        margin-right: 10px;
    }
    .category-preview.alternative .other-news.preview{
        /*width: 200px;*/
    }
    .left-part-footer{
        width: 215px;
        margin-left: 12px;
    }
    .footer-txt{
        width: 300px;
    }
    .right-part-footer{
        margin-right: 0;
    }
    .popup {
      top: -235px;
    }
}
@media screen and (max-width: 999px) {
    .high-priority-news .column.popular .preview .title{
        width: 50% !important;
    }
    .center-wrapper{
        width: auto;
        padding: 0 15px;
    }
    .high-priority-news .column.important{
        padding: 0 10px;
        width: 25%;
    }
    .high-priority-news .column.latest{
        width: 43%;
        padding-right: 2%;
    }
    .high-priority-news .column.popular{
        width: 32%;
        padding-left: 2%;
    }
    .category-preview.alternative .other-news{
        width: 40%;
    }
    .category-preview.alternative .other-news.preview{
        /*width: 18.8%;*/
    }
    .category-preview.alternative .other-news:nth-child(5n+4){
        margin-right: 0;
    }
    .other__news {
        width: 58%;
    }
    /*.very-important span:nth-child(3){*/
    /*display: block;*/
    /*}*/
    img.footer-logo{
        display: block;
        margin-top: 4px;
    }
    .high-priority-news .column.popular .preview .title{
        font-size: 14px;
    }
    .high-priority-news .column.important{
        padding: 0 5px;
    }
    .high-priority-news .column .big-preview .image img{
        height: auto;
    }
    .high-priority-news .column.important .preview{
        font-size: 14px;
    }
    .high-priority-news .column .big-preview .title{
        font-size: 1.5em;
    }
    .category-preview.alternative .other-news{
        margin-right: 1%;
    }
    .news{
        float: right;
        width: auto;
    }
    header .basic-line{
        padding: 10px 0;
    }
    .soc{
        margin-right: 40%;
        margin-top: 17px;

    }
    .search-bar{
        margin-top: -63px;
    }
    .menu-bar{
        float: none;
        text-align: center;
        width: auto;
        display: block;
        margin-top: 45px;
    }
    .footer-txt{
        text-align: center;
        width: auto;
        margin-top: 10px;
        padding-top: 5px;
        border-top: 1px solid #ccc;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .left-part-footer{
        margin-left: 0;
    }
    .right-part-footer{
        width: 126px;
    }
    .category-preview.alternative .other-news.preview .title{
        max-height: 150px;
    }
}
@media screen and (max-width: 767px) {
    .other__news {
        width: 100%;
        margin-bottom: 10px;
    }
    .clearfix2 {
        *zoom: 1;
    }
    .clearfix2:before, .clearfix2:after {
        display: table;
        content: "";
    }
    .clearfix2:after{
        clear: both;
    }
    .soc{
        margin-top: -65px;
    }
    .search-bar{
        margin-top: -133px;
    }
    .news{
        /*float: none;*/
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .menu__btn-container{
        display: block;
    }
    header .basic-line{
        position: relative;
    }
    .menu-bar{
        /*margin-top: 65px;*/
        margin-top: 5px;
        /*display: none;*/
    }
    .menu-show{
        display: block;
    }
    .logo-header{
        float: none;
        margin: 33px auto 0;
    }
    .high-priority-news .column .headline{
        font-size: 16px;
    }
    .high-priority-news .column.popular .preview .image{
        width: 75px;
        /*width: 100%;*/
    }
    .top-line .news-block .preview .title{
        max-height: 92px;
        margin: 7px 0;
    }
    .high-priority-news .column.popular .preview .title{
        /*max-height: 1000px;*/
    }
    .category-preview.alternative .start-block .preview{
        width: 32%;
        float: left;
    }
    .category-preview.alternative .start-block .preview:nth-child(2){
        margin: 0 2%;
    }
    .category-preview.alternative .start-block .preview .image{
        float: none;
        width: 100%;
    }
    .category-preview.alternative .start-block .preview{
        /*height: auto;*/
        height: 330px;
        background: #ffffff;
    }
    .category-preview.alternative .start-block{
        background: #f2f2f2;
    }
    .category-preview.alternative .other-news{
        width: 100%;
        padding: 0;
    }
    .category-preview.alternative .start-block .preview .title{
        padding: 10px;
    }

    .category-preview.alternative .other-news.preview{
        width: 32%;
        float: left;
    }
    .category-preview.alternative .other-news.preview:nth-child(2){
        /*margin: 0 2%;*/
    }
    .alternative .other__news a:nth-child(2){
        margin: 0 2%;
    }
    .category-preview.alternative .other-news{
        margin: 0;
    }
    .category-preview.alternative{
        padding-bottom: 15px;
    }

}
@media screen and (max-width: 640px) {
    .news-container{
        text-align: left;
    }
    
}
@media screen and (max-width: 639px) {
    .news-container{
        text-align: left;
    }
    
    .high-priority-news .column.popular .preview .title{
        width: 100% !important;
        text-align: left !important;
    }
    .picture__large{
        display: block;
    }
    .picture__small{
        display: none!important;
    }
    .top-line .news-block .preview .image{
         width: 100%; 
    }
    .category-preview.alternative .start-block .preview{
        /*height: 265px;*/
        height: 315px;
    }
    .news{
        float: none;
        width: auto;
        text-align: center;
        padding-top: 5px;
        height: 30px;
        overflow: hidden;
    }
    .soc{
        margin: 0 auto;
        float: none;
    }
    header .status-line{
        height: auto;
        padding-bottom: 10px;
    }
    .search-bar{
        margin-top: 0;
    }
    .logo-header{
        margin-top: 0;
    }
    .search-bar{
        float: none;
        width: 300px;
        margin: 10px auto 5px;
    }
    input.search-input{
        width: 82%;
        padding: 5px 10% 5px 5%;
    }
    .search-button{
        right: 21px;
    }
    .top-line .headline{
        text-align: center;
    }
    .top-line .news-block .preview{
        display: block;
        width: auto;
    }
    .top-line .news-block .preview .image, .top-line .news-block .preview .title, .top-line .news-block .preview .image img{
        display: inline-block;
        /*vertical-align: middle;*/
        vertical-align: top;
        max-height: 100%;
        float: none;
    }
    .top-line .news-block .preview{
        margin-right: 0;
        height: auto;

    }
    .top-line .news-block .preview .image{
        /*width: 22%;*/
        height: auto;
        /*min-width: 95px;*/
        /*max-width: 95px;*/
    }
    .top-line .news-block .preview .title{
        width: 100%;
    }
    .high-priority-news .column.latest{
        width: 100%;
        padding-right: 0;
    }
    .high-priority-news .column.important, .high-priority-news .column.popular{
        width: 50%;
    }
    .category-preview.alternative .other-news{
        width: 100%;
        padding: 0;
    }
    .category-preview.alternative .other-news.preview {
        width: 32%;
        height: 280px;
    }
    ul.ul-nav-bar li{
        margin: 0 5px;
    }
    .left-part-footer{
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 178px;
    }
    .right-part-footer{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .very-important{
        text-align: center;
        padding-top: 5px;
    }
    .very-important span:nth-child(3){
        display: block;
    }


    /* s */
    .high-priority-news .column.popular .preview .title{
        max-width: 100%;
        width: 60%;
    }
    .high-priority-news .column.popular .preview .image{
        width: 100%;
        margin-bottom: 10px;
    }
    .high-priority-news .column.important, .high-priority-news .column.popular{
        width: 100%;
        background-color: #f2f5f9;
    }
    .high-priority-news .column.popular .preview .title{
        max-height: 1000px;
    }
    .high-priority-news .column.popular .preview{
        /*height: 490px;*/
        height: auto;
    }
    .high-priority-news .column.important .headline{
        text-align: center;
    }
    .high-priority-news .column .headline, .category-preview.alternative .headline{
        text-align: center;
    }
    .high-priority-news .column.popular{
        padding: 0 1%;
    }
    .high-priority-news .column.popular .preview .title{

    }
    .category-preview.alternative .start-block .preview{
        width: 100%;
        height: auto;
    }
    .category-preview.alternative .start-block .preview:nth-child(2){
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .other__news{
        margin-top: 30px;
    }
    .category-preview.alternative .other-news.preview, .category-preview.alternative .other-news.preview:nth-child(2){
        width: 100%;
        height: auto;
        margin: 0 0 10px;
    }
    .category-preview.alternative .other-news.preview{

    }
    .high-priority-news .column.important .preview .image .added-info{
        bottom: 0;
    }
}
@media screen and (max-width: 479px){
    .time{
        float: none;
        margin: 0 auto;
    }
    .news{
        float: none;
    }
    .logo-header{
        /*width: auto;*/
        width: 178px;
    }
    .logo-header a img{
        display: block;
    }
    .logo-header a{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .top-line .news-block .preview .title {
        /*width: 60%;*/
    }
    .high-priority-news .column.important, .high-priority-news .column.popular{
        width: auto;
    }
    .category-preview.alternative .other-news.preview{
        width: 100%;
    }
    .category-preview.alternative .other-news.preview{
        height: auto;
    }
    .high-priority-news .column.popular .preview{
        min-height: 75px;
    }
    ul.ul-nav-bar li {
        margin: 0 10px;
    }
}

#show_popup {
	display: none;
}

.popup {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 320px;
  right: 0px;
  top: -235px;
  background-color: #fff;
  border-radius: 6px;
  z-index: 4;
  padding: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 639px) {
  .popup {
    top: -642px!important;
  }
}
.popup_title {
  font-size: 18px;
  text-align: center;
}
.popup_text {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin-left: 50px;
}
.popup_content {
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup_app {
  background: url("") center;
  background-size: cover;
  width: 40px;
  height: 40px;
}
.popup_yes {
  outline: 0;
  color: #ffffff;
  font-weight: bold;
  border-style: none;
  border-width: 0px;
  border-color: #37c180;
  border-radius: 6px;
  background-color: #37c180;
  background-position: center center;
  background-repeat: repeat;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
.popup_yes:hover {
  background-color: #39b774;
}
.popup_no {
  font-size: 12px;
  display: inline-block;
}
.popup_close {
  float: right;
  cursor: pointer;
}
.popup_close:hover {
  color: #e45253;
}
.left {
  float: left;
}
.right {
  float: right;
}
.outer {
  text-align: center;
}

@media screen and (max-width: 639px) {

 .preview {
    vertical-align: top;
    width: 100% !important;
    min-height: 85px!important;
    display: block !important;
    height: 100%!important;
    margin: 5px 0 !important;
}
.preview .image {
    max-width: 150px;
    float: left !important;
    display: inline-block;
    margin-right: 10px;
    width: 100%;
    position: relative;
}
.preview .title {
    font-size: 16px !important;
}
.top-line  .preview{
    min-height: 95px!important;
}
    /*s*/
    
     .top-line .news-block .preview {
        height: 110px;
    }
    .top-line .news-block .preview .image{
        min-width: 100px;
    }
  .top-line .news-block .preview {
        height: 110px;
    }
    .top-line .news-block .preview .image{
        min-width: 100px;
        width: 150px;
    }
    .top-line .news-block .preview .title{
        margin: 0;
        width: 60%;
    }
    .high-priority-news .column.important .preview{
        padding-bottom: 0 !important;
    }
    .high-priority-news .column.important .preview, .high-priority-news .column.popular .preview{
        background: #fff;
    }
    .high-priority-news .column.important .preview .image{
        width: 150px;
        display: inline-block;
        vertical-align: top;
    }
    .high-priority-news .column .preview .title{
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        width: 60%;
/*         margin-left: 10px; */
        font-weight: bold;
    }
    .high-priority-news .column.popular .preview .image{
        width: 150px;
    }
    .high-priority-news .column.popular .preview .title{
        width: 60% !important;
    }
    .high-priority-news .column.popular .preview{
        min-height: 150px;
    }
    .category-preview.alternative .start-block .preview .image{
        width: 150px;
        display: inline-block;
        vertical-align: top;
        margin-right: 0;
    }
    .category-preview.alternative .start-block .preview .title{
        display: inline-block;
        vertical-align: top;
        width: 55%;
    }
    .category-preview.alternative .other-news.preview .image{
        margin-right: 0;
/*         margin-top: 5px; */
    }
    .high-priority-news .column.popular .preview .image{
        margin-bottom: 0;
    }
    .high-priority-news .column.inportant .preview .image{
        padding-bottom: 0;
    }
    .high-priority-news .column.inportant .preview{
        padding-bottom: 0;
    }
    .top-line .news-block .preview .image{
        height: auto;
    }
    .preview{
        overflow: hidden;
    }
    .title{
        max-width: 100% !important;
    }
    .other__news{
        float: none;
    }
    .high-priority-news .column.important .preview .image{
        padding-bottom: 0 !important;
    }
    .high-priority-news .column.popular .preview .image{
        margin-bottom: 0 !important;   
    }
}


@media screen and (max-width: 479px) {
   
    .category-preview.alternative .other-news.preview .image{
        margin-top: 0;
    }
    .category-preview.alternative .start-block .preview .title{
        font-size: 15px !important;
        line-height: 22px;
    }
     .other__news .title{
        line-height: 18px !important;
    }
    .high-priority-news .column .preview .title{
        font-weight: normal;
    }
    .high-priority-news .column.popular .preview{
        background: #fff;
        
    }
    .top-line .news-block .preview .title{
        width: 50%;
    }
 .preview {
    height: 120px !important;
 }
.picture__large {
    display: none !important;
}
.picture__small {
    display: block !important;
    width: 100% ;
    max-width: 120px !important;
}
.preview .image {
    max-width: 120px !important;
}
.high-priority-news .column.important .preview .image .added-info .category {
/*     display: block; */
}
.high-priority-news .column.important .preview .image .added-info {
    bottom: -18px;
}
    
    /*s*/
    .high-priority-news .column.important .preview {
        width: 50%;
    }
      .category-preview.alternative .start-block .preview .image{
        width: 100px;
    }
    .high-priority-news .column.popular .preview{
        min-height: 105px;
    }
    .high-priority-news .column.popular .preview .image{
        width: 90px;
    }
    .high-priority-news .column.popular .preview{
        min-height: 95px;
    }
    .top-line .preview {
        min-height: 85px!important;
    }
    .preview {
        height: 100px !important;
    }
    .high-priority-news .column.important .preview .image .added-info {
        bottom: -9px;
    }
    .high-priority-news .column.popular .preview .title{
        max-width: 100%;
    }
    .category-preview.alternative .other-news.preview .image{
        max-width: 100px !important;
    }
    .high-priority-news .column .big-preview .image .added-info {
        width: 100%;
    }
    .high-priority-news .column .big-preview .image .added-info .category {
        width: 100%;
    }
    .high-priority-news .column .big-preview .image .added-info .category {
        display: block;
        width: 100%;
    }
    .high-priority-news .column .big-preview .image .added-info .date {
        display: block;
        width: 100%;
    }
    .high-priority-news .column.important .preview{
        height: auto !important;
    }
    .high-priority-news .column.important .image{
        width: 100% !important;
        max-width: 100% !important;
    }
    .high-priority-news .column.important .preview .title{
        width: 100% !important;
    }
    .high-priority-news .column.important .title{
        padding-top: 10px;
    }
}

/*s*/
@media screen and (max-width: 430px){
    .high-priority-news .column.important .preview .image{
/*         width: 90px; */
    }
}
@media screen and (max-width: 400px){
    .top-line .news-block .preview{
        height: 100px;
    }
    .top-line .news-block .preview .image{
        min-width: 80px;
    }
    .high-priority-news .column.important .preview .image{

    }
}
