#tg-subscription {
    position: fixed;
    width: 100%;
    padding: 2em 0;
    background: #2563B0;
    background: rgba(37, 99, 176, 0.98);
    z-index: 100;
    text-align: center;
    color: #fff;
    opacity: 1;
    display: none;
}

#tg-subscription.center {
    top: 50%;
    margin-top: -7em;
    height: 14em;
}

#tg-subscription.right {
    width: 300px;
    right: 0;
    bottom: 0;
    top: initial;
    margin: 0;
    height: auto;
    border-radius: 0.5em 0.5em 0 0;
}

#tg-subscription > * {
    text-align: center;
    margin-bottom: 1em;
    padding: 0 0.5em;
    color: #fff;
}

#tg-subscription .tg-close-button {
    position: absolute;
    right: 1em;
    top: 0.5em;
    font-size: 2em;
    padding: 0;
    margin: 0;
}

#tg-subscription.right .tg-close-button {
    font-size: 1.3em;
}

#tg-subscription .tg-logo img {
    width: 50px;
}

#tg-subscription .tg-subscribe-button {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #000;
    text-align: center;
    background: yellow;
    border-radius: 3px;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

#tg-subscription .tg-channel-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 400px){
    #tg-subscription {
        font-size: 0.8em;
        height: auto;
    }
}
